#Git files
.gitattributes
.git
npm-debug.log

#Grunt developer
node_modules
Gruntfile.js

#Sass directory
css/src/sass/.sass-cache
.sass-cache

#Bower update
bower_components

#Files
lang/ItalyStrap.po

#SVN files
.svn
Gruntfile.js
*.zip